#canvas {
  display: block;
  /*background-image: url('https://ewedit.files.wordpress.com/2018/06/taylor-swift.jpg');*/
  background-color: black;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.col-sm img {
  width: 100%;
  height: auto;
}

.col-sm {
  padding: 10px;
  margin: 2px;
  background-color: white;
  box-shadow: 0px 7px 25px -9px rgba(0, 0, 0, 0.4);
  min-width: 400px;
}

.col-sm .bottom .social {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.col-sm .bottom .social h6 {
  margin: 10px;
}

.twitter, .instagram, .tumblr {
  width: 100%;
}