#background {
  background-image: url('../assets/bg.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: fixed;
  top: 0;
}

h1 {
  font-family: 'ts-font';
  text-shadow: 1px 1px 2px black;
  font-size: 50px;
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  color: white;
}

footer p {
  font-family: 'ts-font';
  text-shadow: 1px 1px 2px black;
  color: white;
  font-size: 12px;
  text-align: center;
}

footer p a {
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

img {
  margin: 10px;
  z-index: 2;
  position: relative;
  width: 90px;
  -webkit-animation: cat_animation 10s infinite;
  -o-animation: cat_animation 10s infinite;
  animation: cat_animation 10s infinite;
  opacity: 0.8;
}

#container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
}

#picture {
  background-image: url('https://www.etonline.com/sites/default/files/styles/840x470/public/images/2018-05/swift_getty956298740.jpg?itok=CNOB74we&h=c673cd1c');
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

app-contribute {
  position: absolute;
  z-index: 11;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
}
footer {
  background-color: #beb3b3f2;
  z-index: 20;
  position: fixed;
}

@keyframes cat_animation {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes zoom-effect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    filter: none;
  }
}
