<!--The content below is only a placeholder and can be replaced.-->

<div id="background"></div>
<app-firework></app-firework>
<div id="centerContainer">
  <app-countdown (done)="countdownDone()"></app-countdown>
  <div (click)="this.open()" id="button"><h1>Send Taylor a Birthday wish!</h1></div>
</div>
<img src="assets/cats.png" />
<img src="assets/cats.png" style="float: right;"/>


<div id="back">
  <app-canvas-video></app-canvas-video>
</div>

<app-contribute></app-contribute>
<footer>
  <p>MADE BY <a href="https://twitter.com/gustavswift13">@gustavswift13</a></p>
</footer>
