/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'ts-font';
  src: url('assets/ts-font.woff2') format('woff2'); /* Super Modern Browsers */
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
}
